{% extends 'stocks/base.html' %}

{% block sidebar %}
    <!-- Start of Sidebar -->
    <div class="sidebar-sticky mt-2 ml-n2">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="">
                    First option
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">
                    Second option
                </a>
            </li>
        </ul>
    </div>
    <!-- End of Sidebar -->
{% endblock %}

{% block content %}
    <h1>Analyze page</h1>
{% endblock %}