.navbar {
    z-index:9999;
    background: #31375a;
    -webkit-box-shadow: 0px 7px 7px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 7px 7px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 7px 7px 0px rgba(50, 50, 50, 0.75);
}

.drop-shadow{
    box-shadow: 0px 7px 7px #888888;
    z-index:11;
}

#logo1{
    font-family: 'Orbitron';
    font-size: x-large;
}

.fa-vc{
    line-height:inherit!important;
}

.container-fluid {
    height: 90%;
}

.row {
    height: 100%;
}


#sidebar {
    background-color: #e5e5e5;
}


.content {
    background-color: #ffffff;
}


h1, h2, h3, h4 {
    font-family: 'Orbitron';
}

.save {
    float: right;
}

.ticker-form textarea, .post-form input {
    width: 100%;
}


.ticker {
    margin-bottom: 70px;
}

.ticker h2 a, .ticker h2 a:visited {
    color: #000000;
}

#loginContainer {
    background-color: #b7d1ff;
}
