.page-header {
    background-color: #1b174e;
    margin-top: 0;
    padding: 10px 10px 5px 10px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.navbar {
    z-index:9999;
    background: #eaeaea;
    -webkit-box-shadow: 0px 7px 7px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 7px 7px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 7px 7px 0px rgba(50, 50, 50, 0.75);
}
.drop-shadow{
    box-shadow: 0px 7px 7px #888888;
    z-index:11;
}


.container-fluid {
    height: 90%;
}

.row {
    height: 100%;
}


.col-md-1 {
    background-color: #e5e5e5;
}


.content {
    background-color: #ffffff;
}


h1, h2, h3, h4 {
    font-family: 'Orbitron';
}

.save {
    float: right;
}

.ticker-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.ticker {
    margin-bottom: 70px;
}

.ticker h2 a, .ticker h2 a:visited {
    color: #000000;
}
